section.wrapper{
    text-align: center;
    padding: 30px; 
}
canvas {
    display: inline;
    outline: 0px solid rgb(255, 0, 0);
    max-height: 70vh;
    max-width: 100vw;
    
    /* background-color: black;  */
}

/* 
body{
    background-color: black; 
} */

#clock
{
    color: red;
    font-size: 25px;
}
#date 
{
    color: rgb(0, 0, 0);
    font-size: 25px;
    
}



/* @media only screen and (max-width: 600px) {
    #the_canvas {
        display: inline;
        outline: 4px solid rgb(255, 25, 25);
        max-height: 1000vh;
        max-width: 150vw;
        
        background-color: black; 
    }
    
} */

